@import 'variables';
.footer-mobile{
    .bg-dark{
        background-color: $neutralBlack !important;
    }
    ul.navbar-nav{
        display: block;
        li{
            display: block;
            a{
                color: #FFEEB3 !important;
            }
        }
    }
}
