  @import 'variables';
  .show-xs{
      display: none !important;
  }
  .close-mobile{
      display: none !important;
  }
 @media (min-width: 1440px) {
     #page-content-wrapper {
         min-width: 0;
         width: 100%;
         padding: 1.25rem 1.25rem 1.25rem 16rem;
     }
 }
 @media (min-width: 1200px){
     #loginPage{
         padding:12.5vh;
     }
     .modal-confirm,.modal-form{
         &.full-width{
             .modal-dialog{
                 max-width: 90%;
             }

         }
         .modal-dialog {
             max-width: 67.5%;
             margin:3rem auto;
         }
     }
 }

  @media (min-width: 768px) {

     .card-detail-info{
        &.card-login{
            .img-container{
                width: 50%;
            }
            .info-container{
                width: 50%;
            }
        }
        .img-container{
            width: 52.5%;
            max-height: 25rem;
            img{
                width: 100%;
                height:100%;
                object-fit: cover;
                object-position: center;

            }
        }
        .info-container{
            position: relative;
            width: 47.5%;
            padding: 2rem 2.5rem;
        }
    }
   .sidebar {
     margin-left: 0;
   }

   #page-content-wrapper {
     min-width: 0;
     width: 100%;
     // padding: 1.25rem;
     padding: 1.25rem 1.25rem 1.25rem 16rem;
   }

   #wrapper.toggled .sidebar {
     margin-left: -15rem;
   }
 }
  .navbar-mobile,.lang-mobile{
      display: none;
  }
  .footer-mobile{
    display: none;
}
  @media( max-width:$mobile-width ){
    .table-responsive{
        &#tender,&#nonTender{
            width: 100%;
            overflow-x: auto;
            td{
                min-width:200px;
            }
        }
    }
    .navbar-nav .dropdown-menu.dropdown-account {
        margin-top: 0 !important;
        .dropdown-item.btn-circle.btn-icon{
            align-items: center;
            justify-content: center;
            i{
                margin-right: 0 !important;
            }
        }
    }
      .show-xs{
          display: flex;
      }
      .close-mobile{
          display: flex;
      }
      #filter{
          .card-header{
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              &>label{
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex-direction: row;
              }
          }
      }
    .row{
        &>div{
            &.pr-3,&.pl-3{
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
    .navbar-container{
        display: none;
    }
    .navbar-mobile{
        display: block;

        .topbar{
            display: block;
            padding:0 !important;
            .container-fluid{
                padding:0 !important;
                .sidebar-heading{
                    margin-right: 0 !important;
                    padding:.5rem;
                }
            }
            .collapse{
                display: block;
                width: 100%;
            }
            .navbar-nav{
                
                display: inline-block;
                padding-top:.5rem;
                padding-bottom:.5rem;
                width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
                .nav-item{
                    display: inline;
                    .nav-link{
                        display: inline;
                    }
                }
            }
        }
        .navbar-nav{
            display: block;
            &.auth-mobile{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding:.75rem;
            }
            &.navbar-flex{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding:.75rem;
                border-top:1px solid rgba(0, 0, 0, 0.1);
                margin-top: .75rem;
            }
            &.lang{
                display: none;
            }
        }
    }
    .dataTables_wrapper{
        .row{
            .col-sm-12{
                // width: 100%;
                overflow-x: auto;
                table{
                    width: auto;
                    th,td{
                        min-width: 240px !important;
                        .d-flex{
                            align-items: flex-start;
                        }
                        .badge{
                            margin-bottom: .25rem;
                        }
                    }
                }
            }
        }

    }
    .footer-mobile{
        display: block;
    }
    .lang-mobile{
        display: flex !important;
        margin-right:1rem;
        .nav-item{
            &.active{
                .nav-link{
                    color: $primary400 !important;
                }
            }
            .nav-link{
                color: $gray500 !important;
            }
        }
    }
    .row{
      &div{
        margin-bottom: 1rem !important;
      }
    }
    .col-md-1.pt-4.pl-4{
         padding-left:.5rem !important;
         .btn.mt-2{
             margin-top:.315rem !important
         }
     }
      div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
            /* padding-left: 0; */
            padding: 0rem 0 1rem 0 !important;
        }
        div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child{
            padding: 0rem 0 2rem 0 !important;
        }
      div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
        justify-content: center !important;
    }
     .sticky{
         position: relative !important;
     }
     .page-content-tab{
         background-color: $bgLight;
         border: 1px solid rgba(0, 0, 0, 0.1);
         border-radius: 4px;
         padding: 1rem;
         li{
             display: block;
             width: 100%;
             text-align: center;
             padding: 0;
             margin-bottom: .5rem;
         }
     }
     .page-header {
         &.page-header-with-action{
             .title-offer{
                 margin-bottom: 1.5rem;
             }
         }
         .title-offer {
             margin-bottom: 1.5rem;
             .btn-back{
                 left:0;
             }

             .btn-lg{
                 margin-top:2rem
             }
         }
     }
     .card-research{
         background: $bgLight !important;
         .card-research-body{
             flex-direction: column;

             .card-research-body-left .detail-img {
                 width: 100%;
                 height:50vw;
             }

             .card-research-body-right {
                 min-height: auto;
                 padding: 1.5rem;

                 .card-research-progress {
                     flex-direction: column;
                     width: 100%;
                     .progress-left{
                         margin-bottom:1.5rem ;
                         margin-right:0;
                     }
                 }
             }
         }

         .card-research-footer{
             flex-direction: column-reverse;
             background-color: $bgLight;

             .left,.right{
                 justify-content: flex-start;
                 align-items: center;
                 display: flex;
                 .btn:first-child{
                     margin-left: 0;
                 }
             }
             .left{
                 margin-top: 1.5rem;
                 padding-top: 1.5rem;
                 border-top: 1px solid rgba(0,0,0,.1);
             }
         }
     }
     .page-header{
         .title-payment{
             flex-direction: column;
             margin-bottom: 2rem;
         }

     }
     .page-content-title .btn{
         margin-bottom: 0 !important;
         margin-left: .25rem !important;
         &:first-child{
             margin-left: 1.25rem !important;
         }
     }
    //  .card,.card-select,.btn{
    //      margin-bottom: 1rem;
    //  }


     .col-md-4{
         &>.card-stat:last-child{
             margin-bottom: 1rem !important;
         }
     }

     .profile-summary{
         margin-top: 2rem;
     }
     .d-flex{
         flex-direction: column;
     }
     #sidebar-wrapper{
         position: relative;
         height: auto;
     }
     .navbar-nav{
         margin-top:0 !important;
         flex-direction:row;
         .dropdown-menu{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            margin-top: 3.225rem !important;
            border-radius: 0 !important;
            height:100vh;
            max-height:100vh;
         }
     }
     .sidebar{
         z-index:99999;
         margin-left: 0;
         min-height: auto;
         padding: 0;
         position:fixed;
         left:0;
         bottom:0;
         width:100%;
         .sidebar-menu{
             width:100%;
             padding:0 !important;
             .menu-item{
                 border-radius:0 !important;
                  flex-direction: column;
                  padding: .5rem .5rem;
                  justify-content: center;
                  margin-left: 0;
                  margin-right: 0;
                  margin-bottom:0;
                 .menu-item-text{
                    font-size: .825rem;
                    text-align: center;
                    min-width: 6.25rem;
                    margin-top: .2rem;
                 }
                 .menu-item-icon{
                     margin-right:0;
                     padding-bottom:.25rem;
                 }
                 &.active{
                     border-radius: $borderRadius;
                 }
             }
         }
         .list-group{
             width: 100%;
             display: flex;
             flex-direction: row;
             overflow-x: auto;
             background:$colorDarkBlue;
         }
         .sidebar-heading{
             padding-left: 1.5rem ;
             margin-bottom: 2rem;
         }
     }
     ::-webkit-scrollbar {
     width: 4px !important;
     }

     ::-webkit-scrollbar {
     width: 10px;
     }


     /* Track */
     ::-webkit-scrollbar-track {
     border-radius: 0;
     background: rgba(0,0,0,.25);
     }

     /* Handle */
     ::-webkit-scrollbar-thumb {
     background: rgba(255,255,255,.5);
     border-radius: 0;
     }

     /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
     background: rgba(255,255,255,.25);
     }

     #sidebar-wrapper{
        //  margin-bottom: 1rem;
     }
     .selector-container{
         display: block;
     }
     .page-content-title{
         margin-bottom: 1.5rem;
     }
     .card-select.half{
         width: 100%;
         max-width: 100%;
         margin-right: 0;
         min-width: 100%;
         &:last-child{
             margin-left: 0;
         }
     }
     .profile-intro {
         flex-direction: column;
         align-items: center;
         padding: 1.5rem;

         .profile-img{
             margin-right: 0 !important;
             margin-bottom: 1.25rem !important;
             border-radius: $borderRadiusDouble;
             width: 30vw;
             height: 30vw;
             min-height: auto;
         }

         .profile-info{
             align-items: center;
             display: flex;
             flex-direction: column;
         }
         .profile-contact{
             flex-direction: column;
             // align-items: flex-start;
         }


     }

     .card-bank{
         padding: 1.5rem;
         background: $bgLight;
         text-align: left;
     }

     .milestone-header{
         &>.d-flex{
             flex-direction: row;
         }
     }
     .jumbotron-container{
         .jumbotron{
             h1{
                 font-size: 2rem !important;
             }
             p{
                 font-size: 1.25rem !important;
             }
         }
     }
     h1{
         font-size: 2rem !important;
     }
     h2{
         font-size: 1.5rem !important;
     }
     h3{
         font-size: 1.25rem !important;
     }
     h4{
         font-size: 1.125rem !important;
     }
     h5,p,a{
         font-size: .875rem !important;
     }
     .tab-content{
         img{
             margin: 1rem !important;
         }
     }
     .align-left-right{
         align-items: flex-start;
     }
     .card-detail-info{
         flex-direction: column;
         &.card-login{
             .img-container,.info-container{
                 width: 100%;
             }

         }
         .img-container{
             width: 100%;

             img{
                 height: 30vh;
             }

         }
         .info-container{

             width: 100%;
             background-color: $bgLight;
             padding: 1rem !important;

             .badge{
                 margin-top: -27.5vh;
             }
         }
     }
     .container{
         // padding: 0 !important;
     }
     .badge{
         font-size: .75rem;
         padding: .25rem .5rem;
     }
     .navbar-toggler{
        //  width: 4rem !important;
     }
     .card{
         &.card-with-tab{
             margin-bottom: 3rem;
             .card-tab{
                 padding: 1rem 1rem 0 1rem;
             }

             .card-body{
                 padding:.75rem
             }
         }
     }

     footer{
         padding: 2rem 1rem !important;


         .footer-right{
             align-items: flex-start !important;
             .footer-menu{
                 width: 100%;
                 padding: .5rem 0;
                 margin: 1.25rem 0;
                 border-top:1px solid rgba(255,255,255,.1);
                 border-bottom:1px solid rgba(255,255,255,.1);
                 li{
                     display: block !important;
                     margin: .5rem 0;
                 }
             }
             .footer-item{
                 flex-direction: column;

             }
         }
     }

     .item{
         padding: .5rem 0;
         // margin-bottom: 1rem;


     }
     .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
         line-height: 1.5;
     }
     .nav.nav-tabs .nav-item .nav-link{
         font-size: .875rem !important;
     }

     #page-content-wrapper{
         padding: 1.5rem;
         .container-fluid,.container{
             padding:0
         }
     }
     .btn{
         font-size: .825rem !important;
        //  padding: .25rem .5rem;
     }
     .page-content-title{
         justify-content: flex-start;
         .btn-back{
             cursor: pointer;
             position: relative;
             left: 0;
             margin-right: .5rem;
         }
     }



     // Style Responsive dari Supernova, belum dibuat ke versi sass
     .wizard{
         padding-left: 0;
         .step{
             flex-direction: column;
             border-left:none;
             border-top: 2px solid #f5f0f6;
             position: relative;
             padding-right: 1.75rem;
             padding-left: 1rem;
             // &:last-child{
             //     border-top: none;
             // }
             .step-number{
                 margin-bottom: .5rem;
                 margin-right: 0;
                 margin-left: 0;
                 position: absolute;
                 top: -1rem;
                 left: 1rem;
             }

             .step-text{
                 margin-top: 2rem;
                 font-size: .825rem;
             }
         }
     }
     .wizard-step{
         padding: 10px;
     }

     .wizard-step-text{
         /*padding: 0;*/
         font-size: .5rem;
         /*color: #535353;*/
     }
     .wizard-step-chevron{

         display: none;
     }
     .modal{
         &.modal-select {
             .modal-body,.modal-footer{
                //  padding: 0 1rem !important;
             }


         }
     }
     .card-select .content{
         padding: 1rem !important;
     }
     .profile-container{
         padding:0px;
     }
     .header-account .container{
         text-align: center !important;
     }
     .header-account span.badge{
         width: 75%;
     }
     .card-body{
         padding-left: 1rem;
         padding-right: 1rem;
     }
     .alert{
         margin-left: 0;
         margin-right: 0;
     }
     .header-account{
         margin-top: 60px;
     }
     // .form-control,.select2-selection{
     //     margin-bottom:1rem;
     // }
     label{
         margin-bottom: .5rem !important;
     }
     .form-control+.select2.select2-container{
         margin-bottom:1rem;
     }



     .navbar-toggler{
         display: block;
         text-align: center;
        //  width: 100%;
         padding: .5rem;
        //  margin-top: 1rem;
         border-radius: 2px;
         .navbar-toggler-icon{
             width:1em;
             height:1em;
         }
     }

     .navbar-toggler i{
         margin-left: 1rem;
     }
     .bg-dark .navbar-toggler{
         color:#ffffff !important;
     }
     form{
         .col-md-4 .col-lg-12.px-3,
         .col-md-6:last-child .col-lg-12.px-3{
             padding-left: .5rem !important;
             // padding-right: 0 !important;
         }
     }

     #aboutUs{
         .container{
             .row{
                 flex-direction: column-reverse;
             }
         }
     }
     #howItWorks{
         .container{
             .row{
                 flex-direction: column-reverse;
             }
         }
     }
     #imgContainer{
         padding-bottom: 2rem;
     }
     .tab-content{
         margin-top:1.5rem;
         margin-bottom:1.5rem;
     }
     section{
         .container{
             .row{
                 margin-bottom: 0rem !important;
                 div{
                     h2{
                         margin-bottom: 0 !important;
                     }
                 }
             }
         }
     }

     #contactUs{
         .row{
             .col-md-6{
                 padding: 1.5rem !important;
             }
         }
     }

     .nav-item.d-md-none{
         width: 100%;
         margin:0 !important;
         padding: 1rem;
         border-bottom: 1px solid #eeeeee;
         color: #484848 !important;
     }
     .nav-item.d-md-none a{
         color: #484848 !important;
     }
     .bg-dark .nav-item.d-md-none a{
         color:#ffffff !important;
     }
     .nav-item.btn-switcher-container{
         margin:.5rem 0 !important;
     }
     .btn-switcher-group {
         margin-left: auto;
         margin-top: .5rem;
         margin-bottom: .5rem;
         /*display: block;*/
         width: 100%;
         margin-right: auto;
         text-align: center;
     }
     .btn-switcher{
         width: 50% !important;
     }
     .nav-item.dropdown .btn{
        //  width: 100% !important;
     }
     .nav-item.dropdown .dropdown-menu.dropdown-account{
         width: 100% !important;
     }

     .alert{
         margin-left: .75rem;
         margin-right: .75rem;
     }
     // .form-row{
     //     padding: 10px .75rem !important;

     // }
     .form-row{
         padding: .25rem !important;
     }
     .card-header,
     .card-body-content,
     .card-footer{
         padding:1rem .75rem;
     }

     .row-dynamic:first-child{
         margin-top: 0 !important;
     }
     .row-dynamic{
         padding-bottom: 1rem;
         border-bottom: 1px solid #eeeeee;
         padding: 1rem .75rem !important;
         margin-top: 10px;
     }
     .row-dynamic:last-child{
         border-bottom: none !important;
     }
     .row-dynamic>div:first-child{
         padding-left: .25rem !important;
     }
     .row-dynamic>div:last-child{
         padding-right: 0 !important;
     }
     .row-dynamic .form-control{
         margin-bottom: .5rem;
     }
     .footer .text-right{
         margin-top: 2rem !important;
         text-align: left !important;
     }
     h6 .btn.btn-primary.uppercase.float-right{
         margin-top: 2rem;
     }
     .btn.btn-primary.uppercase.float-right,
     .btn.btn-secondary.float-right{
        //  width: 100%;
        //  margin-top: .5rem;
     }
     .btn.btn-secondary.btn-no-text,
     .btn.btn-danger.btn-no-text{
         width: auto !important;
         margin-top: auto !important;
     }
     #giver{
         padding-left: .75rem;
     }
     .card-spse{
         padding:1.5rem !important;
     }
     .card-spse-title{
         max-width: 60% !important;
     }
     // Style Responsive dari Supernova, belum dibuat ke versi sass

 }

  @media (max-width: 767px){
    .float-bottom{
        bottom: 4.5rem;
        width: 100%;
        margin-left: -.5rem;
    }
    .sidebar-inner{
        overflow-x: auto;
        .sidebar-menu{
            flex-direction:row;
            width: fit-content;
        }
    }
    .nav.nav-pills{
        border-radius:0 !important;

        .nav-item{
            border-radius:0 !important;
            margin:.25rem;
            .nav-link{
                padding:0.375rem .5rem !important;
                border-radius:3px !important;
                font-size:.75rem !important;
            }
        }
    }
    .sidebar-inner{
        padding:0 !important;
        margin-bottom:1rem;
        &>.card{
            padding-left:1rem !important;
            padding-right:1rem !important;
        }
    }
    .page-content-title{
        padding-left: .25rem;
        display:flex;
        justify-content:space-between;
        margin:.75rem 0 1rem 0;
    }
    table.responsive {
        border-spacing: 0 .25em !important;
        thead th {
            &:first-child,&:last-child{
                border-radius:0 !important;
            }
        }
        tr td {
            &:first-child,&:last-child{
                border-radius:0 !important;
            }
        }
    }

    .navbar{
       padding: 0.5rem 0 0.5rem 0;
    }

    .card{
        border-radius: 0 !important;
    }
    .container-fluid,.container {
        padding: 0 .5rem !important;
    }
    #page-content-wrapper{
        padding: 0 !important;
    }
    div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]{
        width:100%;
        overflow-x:auto;
    }
    .row {
        &>div[class^="col-"].pr-0{
            padding-left:.5rem !important;
            padding-right:.5rem !important;
        }
    }
    .col-md-1.pt-4.pl-4{
        padding:.75rem !important;
        margin-top:0 !important;
    }
     #wrapper{
         padding-bottom: 6rem;
     }
     .px-5{
         padding-left:1rem !important;
         padding-right:1rem !important;
     }
     .card-detail-info{
        &.card-login{
            .img-container{
                width: 100%;
                padding:2rem 0;
                background: #016E73 !important;
            }
            .info-container{
                width: 100%;
                .info-body{
                    .card-login-title{
                        font-size: $fontSizeHeading4 !important;
                        margin-bottom:1rem;
                    }
                }
            }
        }
        .img-container{
        }
        .info-container{
        }
    }
 }
