/* !
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
  rgba(,,,.8);
 */
 $mobile-width:1200px;
 $colorPrimary: #8B20A9;
 // $colorPrimary: #FF475B;
 // $colorPrimary: #189680;
 // $colorPrimary: #FF5E03;
 $bgPrimaryGradient:linear-gradient(-45deg,#BD2FC1,#601390);
 // $colorPrimary: #DA2458;
 // $colorDarkBlue:#CA9D73;
 // $colorDarkBlue:rgb(48, 49, 74);
 $colorDarkBlue:#090C1F;
 // $colorDarkBlue:#381840;

 $activePrimary: #8B20A9;

 $outlinePrimary: rgba(255,94,3,.5);
 $highlightPrimary: #E3C9EA;
 $borderButtonColor: rgba(255,255,255,.24);

 // $colorSecondary: #000733;#0A113B
 // $colorSecondary: #00006a
 // $colorSecondary: #A52A2A;
 // $colorSecondary: #070809;rgb(3,172,14)
 // $colorSecondary: #d71149;BD0F40
 $colorSecondaryGradient:linear-gradient(45deg, #016E73,#016F73);
 $colorSecondaryGradientSidebar:linear-gradient(45deg, #016E73,hsl(160, 80%, 36%));
 $colorSecondary:  #016E73;
 // $colorSecondary: #CE1046;
 $colorSecondaryTransparent : #85B9BC;
 $colorSecondaryTransparentLight : #C2DCDD;
 $colorSecondaryTransparentLighter : #E9F3F3;


 // $colorPrimaryDark: #252733;#454647
 $colorPrimaryDark: #454647;
 // $colorSecondaryDark: #606060;
 $colorSecondaryDark: #676869;
 $colorTertiaryDark: #9FA2B4;

 // $colorPrimaryLight: #DDE2FF;FBECF0
 $colorPrimaryLight: #f5f0f6;
 $colorSecondaryLight: #A4A6B3;

 $bgLight: #FFFFFF;
 $bgBody: #F7F8FC;
 $bgDark: #363740;

 $outlineDefault: rgba(223,224,235,.24);

 $colorDanger: rgba(226,12,51,.8);
 $colorWarning: #f39c12;
 $colorSuccess: rgba(33,150,83,1);
 $colorInfo: #1A3E7C;


 $accentPrimary: #A24DBA;
 $accentSecondary:rgba(0,7,51,.8);
 $accentSecondaryLighter:rgba(0,7,51,.16);
 $accentDanger: rgba(232,61,92,.8);
 $accentWarning: rgba(255,181,126,.8);
 $accentSuccess: rgba(77,171,117,.8);
 $accentSuccessLighter: rgba(77,171,117,.2);
 $accentInfo: rgba(41,97,194,.8);

 $accentTextPrimary: rgba(255,94,3,.5);
 $accentTextSecondary:rgba(0,7,51,.8);
 $accentTextDanger: #910821;
 $accentTextWarning:  #B77B4F;
 $accentTextSuccess: #219653;
 $accentTextInfo: #1A3E7C;

 $fontHeading: 'Montserrat', sans-serif;
 $fontBody: 'Roboto', sans-serif;

 $fontSizeDefault: 12px;
 $fontSizeHeading1: 1.75rem;
 $fontSizeHeading2: 1.5rem;
 $fontSizeHeading3: 1.25rem;
 $fontSizeHeading4: 1rem;
 $fontSizeHeading5: .75rem;
 $fontSizeParagraph: .75rem;
 $fontSizeHeading6: .75rem;
 $fontSizeSmall: .675rem;
 $lineHeightDefault:1.5;
 $fontWeightDefault: 500;
 $fontWeightBold: 600;
 $fontWeightLight: 400;

 $paddingNavLink:.375rem 1rem;

 $paddingButton: .5rem .75rem;
 $fontSizeButton: .75rem;
 $lineHeightButton: 1.25rem;

 $paddingButtonSmall: .25rem .675rem;
 $fontSizeButtonSmall: .75rem;
 $lineHeightButtonSmall: 1rem;

 $paddingButtonLarge: 12px 20px;
 $fontSizeButtonLarge: 16px;
 $lineHeightButtonLarge: 24px;

 $paddingButtonMassive: 20px 32px;
 $fontSizeButtonMassive: 19px;
 $lineHeightButtonMassive: 24px;

 $borderRadius:4px;
 $borderRadiusDouble:8px;

 // $borderRadius:8px;
 // $borderRadiusDouble:16px;

 $boxShadowCard: 0px 2px 8px rgba(0,0,0,.08);
 $boxShadowCardHover: 0px 4px 16px rgba(0, 0, 0, 0.12);
 $paddingInput:.5rem .75rem;
.sidebar-menu{
    padding-left:16px;
    .menu-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 32px;
        border-left: 2px solid $colorPrimaryLight;
        &:last-child{
            border-left: 2px solid transparent;
        }
        &:hover{
            text-decoration: none !important;
        }
        &.active{
          .menu-item-icon{
              background-color: $colorPrimary;
              color: $bgBody;
          }
          .menu-item-text{
              color: $bgBody;
              font-weight: $fontWeightBold;
          }
        }
        .menu-item-icon{
            border-radius:50%;
            width:32px;
            height:32px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $colorPrimaryLight;
            font-size: $fontSizeDefault;
            font-weight: $fontWeightBold;
            color: $colorTertiaryDark;
            margin-right: 10px;
            margin-left: -16px;
        }
        .menu-item-text{
            font-size: $fontSizeHeading5;
            color: $colorPrimaryLight;
            font-weight: $fontWeightDefault;
            line-height: 1.5;
        }
    }
}
