 /* datatable */

table.data {
    border: none !important;
    width: 100%;
}

table.data {
    border-collapse: separate !important;
    border-spacing: 0 4px !important;
}

table.data .mb-0 {
    margin-bottom: 0 !important;
}

table.data thead {
    padding: .5rem;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
}

table.data thead tr {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

table.data thead th {
    border: none !important;
    // text-align: center;
    background: #E7E7E7;
    font-size: $fontSizeSmall;
    text-transform: uppercase;
    /*font-size: .8em;*/
    color: #8E9197 !important;
    font-weight: 400;
    vertical-align: middle !important;
}

table.data thead th:first-child {
    text-align: left !important;
    border-radius: 2px 0 0 2px !important;
    // padding-left: 1.25rem !important;
}

table.data thead th:nth-child(2),
table.data thead th:nth-child(3) {
    text-align: left;
}

table.data thead th:last-child {
    text-align: right !important;
    border-radius: 0 2px 2px 0 !important;
    // padding-right: 1.25rem !important;
    min-width: 7.5rem !important;
}

table.data thead>tr>th.sorting_asc,
table.data thead>tr>th.sorting_desc,
table.data thead>tr>th.sorting,
table.data thead>tr>td.sorting_asc,
table.data thead>tr>td.sorting_desc,
table.data thead>tr>td.sorting {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

table.data tr {
    // -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, .1);
    // box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, .1);
    border-radius: 4px;
    box-shadow: $boxShadowCard;
    -webkit-box-shadow: $boxShadowCard;
    &:hover{
       box-shadow: $boxShadowCardHover;
       -webkit-box-shadow: $boxShadowCardHover;
    }
}

table.data tr.read td {
    background: $neutralWhite!important;
}
table.data tr:nth-child(odd) td {
    background: #FFFCF3 !important;
}
table.data tr td {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border: none !important;
    background: #ffffff !important;
    // text-align: center;
    color: #535353 !important;
    font-family: roboto;
    vertical-align: top !important;
    font-size: $fontSizeSmall;
    word-break: break-word;
    min-width:64px;
    max-width:500px;
}

table.data tr td label {
    margin-bottom: .3rem !important;
    font-family: 'Montserrat', sans-serif !important;
    display: block;
    font-size: 12px;
    color: #888888 !important;
}

table.data tr td p:last-child {
    margin-bottom: 0 !important;
}

table.data thead{
    z-index: 99999;
}
// table.data tr td a.btn {
// 	color: #ffffff !important;
// }

table.data tr td:first-child {
    border-radius: 4px 0 0 4px;
    padding-left: 1.25rem;
    text-align: left !important;
}

table.data tr td:nth-child(2),
table.data tr td:nth-child(3) {
    text-align: left;
}

table.data tr td:last-child {
    border-radius: 0 4px 4px 0;
    padding-right: 1.25rem;
    text-align: right !important;
}

table.data tr td.datas_empty {
    text-align: center !important;
}

table.data .control.control--checkbox {
    margin-top: -10px !important;
}


table.data tr td {
    padding: 1rem !important;
    border: none !important;
    background: #ffffff !important;
    // text-align: center;
    color: #535353 !important;
    font-family: roboto;
    vertical-align: top !important;
    font-size: $fontSizeSmall;
    &.px-1{
        padding-left:.25rem !important;
        padding-right:.25rem !important;
        &:last-child{
            min-width: 40px !important;
            padding-right: .75rem !important;
        }
    }
}

table.data thead th {
    padding: .5 .275rem !important;
    border: none !important;
    // text-align: center;
    background: #E7E7E7;
    font-size: $fontSizeSmall;
    /* font-size: .8em; */
    font-size: .625rem;

    color: #8E9197 !important;
    font-weight: 400;
    vertical-align: middle !important;
    &.px-1{
        min-width: 30px !important;
        &:last-child{
            min-width: 40px !important;
            padding-right: .75rem !important;
        }
    }
}

.pagination{
    justify-content: flex-end;
    align-items: center;
}

#DataTables_Table_0_wrapper{
    .row:last-child{
        margin-top:24px;
    }
}

.paginate_button.page-item{
    &.active{
        .page-link{
            color: $neutralWhite;
        }
    }
    .page-link{
        padding: .325rem .625rem;
        color: $gray800;
    }
    &.previous,&.next{
        .page-link{
            border-radius: 4px;
            padding: .525rem .625rem !important;
            background-color: $primary25;
            color: $primary400;
        }
        &.disabled{
            .page-link{
                background-color:$gray150;
                color: $gray300;
                opacity: 100%;
            }
        }
    }
}

.dataTables_info{
    font-family: $fontHeading;
    font-size: $labelXs;
    color:$gray600;
}

div.dataTables_wrapper div.dataTables_length {
    label{
        font-family: $fontHeading;
        font-size: $labelXs;
    }
    select{
        font-size: $paragraphSm
    }
}

div.dataTables_wrapper div.dataTables_filter {
    label{
        font-family: $fontHeading;
        font-size: $labelXs;
    }
    input{
        font-family: $fontHeading;
        font-size: $labelXs;
    }
}