 /* datatable */

 [name='datatable_length'] {
    height: 4em !important;
    margin: 0.5em !important;
}

.table-responsive {
    margin-top: 1rem;
    padding: 0;
    overflow-x:visible;
}

table.responsive {
    border: none !important;
    width: 100%;
}

table.responsive {
    border-collapse: separate !important;
    border-spacing: 0 4px !important;
}

table.responsive .mb-0 {
    margin-bottom: 0 !important;
}

table.responsive thead {
    padding: .5rem;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
}

table.responsive thead tr {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

table.responsive thead th {
    border: none !important;
    // text-align: center;
    background: #E7E7E7;
    font-size: $fontSizeSmall;
    text-transform: uppercase;
    /*font-size: .8em;*/
    color: #8E9197 !important;
    font-weight: 400;
    vertical-align: middle !important;
}

table.responsive thead th:first-child {
    text-align: left !important;
    border-radius: 2px 0 0 2px !important;
    // padding-left: 1.25rem !important;
}

table.responsive thead th:nth-child(2),
table.responsive thead th:nth-child(3) {
    text-align: left;
}

table.responsive thead th:last-child {
    text-align: right !important;
    border-radius: 0 2px 2px 0 !important;
    // padding-right: 1.25rem !important;
    min-width: 7.5rem !important;
}

table.responsive thead>tr>th.sorting_asc:first-child,
table.responsive thead>tr>th.sorting_desc:first-child,
table.responsive thead>tr>th.sorting:first-child,
table.responsive thead>tr>td.sorting_asc:first-child,
table.responsive thead>tr>td.sorting_desc:first-child,
table.responsive thead>tr>td.sorting:first-child {
    // padding-left: 1.25rem !important;
}

table.responsive thead>tr>th.sorting_asc:last-child,
table.responsive thead>tr>th.sorting_desc:last-child,
table.responsive thead>tr>th.sorting:last-child,
table.responsive thead>tr>td.sorting_asc:last-child,
table.responsive thead>tr>td.sorting_desc:last-child,
table.responsive thead>tr>td.sorting:last-child {
    // padding-right: 1.25rem !important;
}

table.responsive thead>tr>th.sorting_asc,
table.responsive thead>tr>th.sorting_desc,
table.responsive thead>tr>th.sorting,
table.responsive thead>tr>td.sorting_asc,
table.responsive thead>tr>td.sorting_desc,
table.responsive thead>tr>td.sorting {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

table.responsive tr {
    // -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, .1);
    // box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, .1);
    border-radius: 4px;
    box-shadow: $boxShadowCard;
    -webkit-box-shadow: $boxShadowCard;
    &:hover{
       box-shadow: $boxShadowCardHover;
       -webkit-box-shadow: $boxShadowCardHover;
    }
}

table.responsive tr.read td {
    background: $neutralWhite!important;
}
table.responsive tr:nth-child(odd) td {
    background: #FFFCF3 !important;
}
table.responsive tr td {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border: none !important;
    background: #ffffff !important;
    // text-align: center;
    color: #535353 !important;
    font-family: roboto;
    vertical-align: middle !important;
    font-size: $fontSizeSmall;
    word-break: break-word;
    min-width:64px;
    max-width:500px;
}


table.responsive tr td .select2 {
    text-align: left !important;
}

table.responsive tr td .select2 .select2-selection {
    padding: 10px 12px !important;
}

table.responsive tr td p {
    margin-bottom: .5rem !important;
    font-size: .875rem;
}

table.responsive tr.unread td p {
    font-weight: 700 !important;
}

table.responsive tr td label {
    margin-bottom: .3rem !important;
    font-family: 'Montserrat', sans-serif !important;
    display: block;
    font-size: 12px;
    color: #888888 !important;
}

table.responsive tr td p:last-child {
    margin-bottom: 0 !important;
}

table.responsive tr td p.with-icon,
p.with-icon,
.with-icon {
    position: relative;
    padding-left: 1.5rem;
}

table.responsive tr td p i,
p.with-icon i,
.with-icon i {
    color: #898989 !important;
    position: absolute;
    left: 0;
    top: 10%;
}

.dataTables_wrapper {
    padding-top: 10px;
}
table.responsive thead{
    z-index: 99999;
}
// table.responsive tr td a.btn {
// 	color: #ffffff !important;
// }

table.responsive tr td a.btn:hover {
    color: #eeeeee !important;
}

table.responsive tr td a.btn.btn-primary {
    color: #AAFFCC;
}

table.responsive tr td>a {
    // color: #00694C !important;
    margin-left: .125rem;
}

table.responsive tr td a.btn:hover {
    text-decoration: none !important;
}

table.responsive tr td a:hover {
    color: #00694C !important;
    // text-decoration: underline !important;
}

table.responsive tr td:first-child {
    border-radius: 4px 0 0 4px;
    padding-left: 1.25rem;
    text-align: left !important;
}

table.responsive tr td:nth-child(2),
table.responsive tr td:nth-child(3) {
    text-align: left;
}

table.responsive tr td:last-child {
    border-radius: 0 4px 4px 0;
    padding-right: 1.25rem;
    text-align: right !important;
}

table.responsive tr td.dataTables_empty {
    text-align: center !important;
}

table.responsive .control.control--checkbox {
    margin-top: -10px !important;
}

table{
    &.responsive{
        &.table-payroll{
            border-spacing: 0 !important;
            tr{
                margin-bottom: 1rem;
                border-spacing: 1rem !important;
                .table-data-item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                   .table-data-label{
                       label{
                          font-size: .675rem;
                       }
                       display: flex;
                       align-items: center;
                       .table-data-icon{
                          margin-right: .375rem;
                           i{
                              font-size: 1rem;
                           }
                       }
                   }
                }

            }
        }
    }
}
.dataTables_info,
.dataTables_length,
.dataTables_filter {
    font-size: .8rem;
}

.dataTables_filter label,
.dataTables_length label {
    color: #363636 !important;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataTables_length label {
    justify-content: flex-start !important;
    padding-left: 2px;
}

.dataTables_length label select {
    margin: 0 1rem;
    padding: 0.5rem 2rem .5rem 1rem;
    width: 100px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    font-size: .8rem;
}

.dataTables_filter [type='search'] {
    margin-left: 1rem !important;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: 100% !important;
}
table.responsive tr td {
    padding: 1rem !important;
    border: none !important;
    background: #ffffff !important;
    // text-align: center;
    color: #535353 !important;
    font-family: roboto;
    vertical-align: middle !important;
    font-size: $fontSizeSmall;
}

table.responsive thead th {
    padding: .5rem .275rem !important;
    border: none !important;
    // text-align: center;
    background: #E7E7E7;
    font-size: $fontSizeSmall;
    /* font-size: .8em; */
    font-size: .625rem;

    color: #8E9197 !important;
    font-weight: 400;
    vertical-align: middle !important;
}


table>tbody>tr.child span.dtr-title {
    margin-right: 1rem;
    text-align: left;
}

table>tbody>tr.child ul.dtr-details {
    width: 95%;
}

table>thead>tr>th{
    &.th-radio,&.th-checkbox{
        min-width: 32px !important;
        width: 32px !important;
        max-width: 32px !important;
    }
}

table>tbody>tr>td{
    &.td-radio,&.td-checkbox{
        min-width: 32px !important;
        width: 32px !important;
        max-width: 32px !important;
    }
}
table.data{
    thead{
        tr{
            th{
                padding-left:1rem;
                padding-right: 1rem;
            }
        }
    }
}
table.data.table-input{
    thead{
        tr{
            th{
                min-width: 30px !important;
            }
        }
    }
    tbody{
        tr{
            td{
                min-width: 20px !important;
                padding-top:.5rem !important;
                padding-bottom:.5rem !important;
                .input-flat{
                    padding-top:.325rem !important;
                    padding-bottom:.325rem !important;
                }
            }
        }
    }
}