$neutralWhite : #FFFFFF;
$neutralBlack : #1A1A1A;
$gray25: #FBFBFB;
$gray50 : #F2F2F2 ;
$gray100 : #E5E5E5 ;
$gray150 : #D9D9D9 ;
$gray200 : #CCCCCC ;
$gray300 : #B2B2B2 ;
$gray400 : #999999 ;
$gray500: #808080 ;
$gray600 : #666666 ;
$gray700 : #4D4D4D ;
$gray800 : #333333 ;

$primary0 : #FFFAF4;
$primary25: #FBFBFB;
$primary50 : #FFF1E0 ;
$primary100 : #FFDBB3 ;
$primary150 : #FFC380 ;
$primary200 : #FFAB4D;
$primary300 : #FF9926 ;
$primary400 : #FF8700 ;
$primary500: #FF7F00 ;
$primary600 : #FF7400 ;
$primary700 : #FF6A00 ;
$primary800 : #FF5700 ;

$secondary0: #F4F9F9;
$secondary25: #E2EEF0;
$secondary50 : #E2EDF0 ;
$secondary100 : #B7D3DA ;
$secondary150 : #87B6C1 ;
$secondary200 : #5699A8 ;
$secondary300 : #328396 ;
$secondary400 : #0E6D83 ;
$secondary500: #0C657B;
$secondary600 : #0A5A70 ;
$secondary700 : #085066 ;
$secondary800 : #043E53 ;

$teal0: #DCFBFF;
$teal500: #10B2C5;

$rose0 : #FFECF1;
$rose500 : #CB154B;

$red50:#FFB0B4;
$red500:#CB111A;

$yellow0 : #FFF2CF;
$yellow500 : #E1AE21;

$mint0 : #DBFFF1;
$mint50 : #B4FBE0;
$mint500 : #0EB375;

$shadowCard : 0px 4px 4px rgba(207, 209, 238, 0.25);
$shadowButton : 4px 4px 5px rgba(0, 0, 0, 0.1);
$shadowTooltip : -2px 6px 8px rgba(26, 26, 26, 0.2);
$shadowHeader : 0px 1px 2px rgba(0, 0, 0, 0.15);
$shadowFooter : 0px -2px 4px rgba(0, 0, 0, 0.1);
$shadowSm:0px 4px 8px rgba(152, 128, 224, 0.2);
$shadowMd:0px 16px 40px rgba(152, 128, 224, 0.2);
$shadowLg:0px 24px 48px rgba(207, 209, 238, 0.25);
$shadowInputFocus:0px 0px 0px 3.2px rgba(0, 123, 255, 0.25);

$headingXxl : 36px;
$headingXl : 32px;
$headingLg : 28px;
$headingMd : 24px;
$headingSm : 20px;
$headingXs : 16px;

$lineHeadingXxl : 44px;
$lineHeadingXl : 40px;
$lineHeadingLg : 36px;
$lineHeadingMd : 32px;
$lineHeadingSm : 28px;
$lineHeadingXs : 20px;

$paragraphLg : 18px;
$paragraphMd : 16px;
$paragraphSm : 14px;
$paragraphXs : 12px;

$lineParagraphLg : 24px;
$lineParagraphMd : 20px;
$lineParagraphSm : 20px;
$lineParagraphXs : 20px;

$labelLg : 18px;
$labelMd : 16px;
$labelSm : 14px;
$labelXs : 12px;
$labelXxs : 10px;

$lineLabelLg : 22px;
$lineLabelMd : 20px;
$lineLabelSm : 18px;
$lineLabelXs : 18px;
$lineLabelXxs : 16px;

$mobile-width:1040px;
$colorPrimary: $primary400;
// $colorPrimary: #FF475B;
// $colorPrimary: #189680;
// $colorPrimary: #FF5E03;
$bgPrimaryGradient:linear-gradient(-45deg,$primary400,$primary600);
// $colorPrimary: #DA2458;
// $colorDarkBlue:#CA9D73;
// $colorDarkBlue:rgb(48, 49, 74);
$colorDarkBlue:#090C1F;
// $colorDarkBlue:#381840;

$activePrimary: #8B20A9;

$outlinePrimary: rgba(255,94,3,.5);
$highlightPrimary: #E3C9EA;
$borderButtonColor: rgba(255,255,255,.24);

// $colorSecondary: #000733;#0A113B
// $colorSecondary: #00006a
// $colorSecondary: #A52A2A;
// $colorSecondary: #070809;rgb(3,172,14)
// $colorSecondary: #d71149;BD0F40
$colorSecondaryGradient:linear-gradient(45deg, $secondary300,$secondary500);
$colorSecondaryGradientSidebar:linear-gradient(45deg, #016E73,hsl(160, 80%, 36%));
$colorSecondary:  $secondary600;
// $colorSecondary: #CE1046;
$colorSecondaryTransparent : $secondary50;
$colorSecondaryTransparentLight : $secondary25;
$colorSecondaryTransparentLighter : $secondary0;


// $colorPrimaryDark: #252733;#454647
$colorPrimaryDark: #454647;
// $colorSecondaryDark: #606060;
$colorSecondaryDark: #676869;
$colorTertiaryDark: #9FA2B4;

// $colorPrimaryLight: #DDE2FF;FBECF0
$colorPrimaryLight: #f5f0f6;
$colorSecondaryLight: #A4A6B3;

$bgLight: #FFFFFF;
$bgBody: $gray25;
$bgDark: #363740;

$outlineDefault: $gray150;

$colorDanger: rgba(226,12,51,.8);
$colorWarning: #f39c12;
$colorSuccess: rgba(33,150,83,1);
$colorInfo: #1A3E7C;


$accentPrimary: $primary50;
$accentSecondary:$secondary50;
$accentSecondaryLighter:$secondary25;
$accentDanger: $rose0;
$accentWarning: $yellow0;
$accentSuccess: $mint0;
$accentSuccessLighter: $mint0;
$accentInfo: $teal0;

$accentTextPrimary: $primary50;
$accentTextSecondary:$secondary50;
$accentTextDanger: $rose500;
$accentTextWarning:  $yellow500;
$accentTextSuccess: $mint500;
$accentTextInfo: $teal500;

// $fontHeading: 'Montserrat', sans-serif;
$fontHeading: 'Inter', sans-serif;
$fontBody: 'Roboto', sans-serif;

$fontSizeDefault: 16px;
$fontSizeHeading0: $headingXxl;
$fontSizeHeading1: $headingXl;
$fontSizeHeading2: $headingLg;
$fontSizeHeading3: $headingMd;
$fontSizeHeading4: $headingSm;
$fontSizeHeading5: $headingXs;
$fontSizeParagraph: $paragraphLg;
$fontSizeHeading6: $paragraphMd;
$fontSizeSmall: $paragraphSm;


$lineHeightDefault:1.5;
$fontWeightDefault: 400;
$fontWeightBold: 600;
$fontWeightLight: 300;

$paddingNavLink:.375rem 1rem;

$paddingButton: 12px 16px;
$fontSizeButton: $labelSm;
$lineHeightButton: $lineLabelSm;

$paddingButtonSmall: 8px 12px;
$fontSizeButtonSmall: $labelXs;
$lineHeightButtonSmall: $lineLabelXs;

$paddingButtonLarge: 16px 32px;
$fontSizeButtonLarge: $labelLg;
$lineHeightButtonLarge: $lineLabelLg;

$paddingButtonMassive: 20px 32px;
$fontSizeButtonMassive: 19px;
$lineHeightButtonMassive: 24px;

$borderRadius:4px;
$borderRadiusDouble:8px;

// $borderRadius:8px;
// $borderRadiusDouble:16px;

$boxShadowCard: 0px 2px 8px rgba(0,0,0,.08);
$boxShadowCardHover: 0px 4px 16px rgba(0, 0, 0, 0.12);
$paddingInput:10px 12px;




