.footer-mobile .bg-dark {
  background-color: #1A1A1A !important;
}
.footer-mobile ul.navbar-nav {
  display: block;
}
.footer-mobile ul.navbar-nav li {
  display: block;
}
.footer-mobile ul.navbar-nav li a {
  color: #FFEEB3 !important;
}

/*# sourceMappingURL=navigation.css.map */
