.show-xs {
  display: none !important;
}

.close-mobile {
  display: none !important;
}

@media (min-width: 1440px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    padding: 1.25rem 1.25rem 1.25rem 16rem;
  }
}
@media (min-width: 1200px) {
  #loginPage {
    padding: 12.5vh;
  }

  .modal-confirm.full-width .modal-dialog, .modal-form.full-width .modal-dialog {
    max-width: 90%;
  }
  .modal-confirm .modal-dialog, .modal-form .modal-dialog {
    max-width: 67.5%;
    margin: 3rem auto;
  }
}
@media (min-width: 768px) {
  .card-detail-info.card-login .img-container {
    width: 50%;
  }
  .card-detail-info.card-login .info-container {
    width: 50%;
  }
  .card-detail-info .img-container {
    width: 52.5%;
    max-height: 25rem;
  }
  .card-detail-info .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .card-detail-info .info-container {
    position: relative;
    width: 47.5%;
    padding: 2rem 2.5rem;
  }

  .sidebar {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    padding: 1.25rem 1.25rem 1.25rem 16rem;
  }

  #wrapper.toggled .sidebar {
    margin-left: -15rem;
  }
}
.navbar-mobile, .lang-mobile {
  display: none;
}

.footer-mobile {
  display: none;
}

@media (max-width: 1040px) {
  .table-responsive#tender, .table-responsive#nonTender {
    width: 100%;
    overflow-x: auto;
  }
  .table-responsive#tender td, .table-responsive#nonTender td {
    min-width: 200px;
  }

  .navbar-nav .dropdown-menu.dropdown-account {
    margin-top: 0 !important;
  }
  .navbar-nav .dropdown-menu.dropdown-account .dropdown-item.btn-circle.btn-icon {
    align-items: center;
    justify-content: center;
  }
  .navbar-nav .dropdown-menu.dropdown-account .dropdown-item.btn-circle.btn-icon i {
    margin-right: 0 !important;
  }

  .show-xs {
    display: flex;
  }

  .close-mobile {
    display: flex;
  }

  #filter .card-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #filter .card-header > label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .row > div.pr-3, .row > div.pl-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navbar-container {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }
  .navbar-mobile .topbar {
    display: block;
    padding: 0 !important;
  }
  .navbar-mobile .topbar .container-fluid {
    padding: 0 !important;
  }
  .navbar-mobile .topbar .container-fluid .sidebar-heading {
    margin-right: 0 !important;
    padding: 0.5rem;
  }
  .navbar-mobile .topbar .collapse {
    display: block;
    width: 100%;
  }
  .navbar-mobile .topbar .navbar-nav {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .navbar-mobile .topbar .navbar-nav .nav-item {
    display: inline;
  }
  .navbar-mobile .topbar .navbar-nav .nav-item .nav-link {
    display: inline;
  }
  .navbar-mobile .navbar-nav {
    display: block;
  }
  .navbar-mobile .navbar-nav.auth-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem;
  }
  .navbar-mobile .navbar-nav.navbar-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0.75rem;
  }
  .navbar-mobile .navbar-nav.lang {
    display: none;
  }

  .dataTables_wrapper .row .col-sm-12 {
    overflow-x: auto;
  }
  .dataTables_wrapper .row .col-sm-12 table {
    width: auto;
  }
  .dataTables_wrapper .row .col-sm-12 table th, .dataTables_wrapper .row .col-sm-12 table td {
    min-width: 240px !important;
  }
  .dataTables_wrapper .row .col-sm-12 table th .d-flex, .dataTables_wrapper .row .col-sm-12 table td .d-flex {
    align-items: flex-start;
  }
  .dataTables_wrapper .row .col-sm-12 table th .badge, .dataTables_wrapper .row .col-sm-12 table td .badge {
    margin-bottom: 0.25rem;
  }

  .footer-mobile {
    display: block;
  }

  .lang-mobile {
    display: flex !important;
    margin-right: 1rem;
  }
  .lang-mobile .nav-item.active .nav-link {
    color: #FF8700 !important;
  }
  .lang-mobile .nav-item .nav-link {
    color: #808080 !important;
  }

  .rowdiv {
    margin-bottom: 1rem !important;
  }

  .col-md-1.pt-4.pl-4 {
    padding-left: 0.5rem !important;
  }
  .col-md-1.pt-4.pl-4 .btn.mt-2 {
    margin-top: 0.315rem !important;
  }

  div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:first-child {
    /* padding-left: 0; */
    padding: 0rem 0 1rem 0 !important;
  }

  div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:last-child {
    padding: 0rem 0 2rem 0 !important;
  }

  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center !important;
  }

  .sticky {
    position: relative !important;
  }

  .page-content-tab {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 1rem;
  }
  .page-content-tab li {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .page-header.page-header-with-action .title-offer {
    margin-bottom: 1.5rem;
  }
  .page-header .title-offer {
    margin-bottom: 1.5rem;
  }
  .page-header .title-offer .btn-back {
    left: 0;
  }
  .page-header .title-offer .btn-lg {
    margin-top: 2rem;
  }

  .card-research {
    background: #FFFFFF !important;
  }
  .card-research .card-research-body {
    flex-direction: column;
  }
  .card-research .card-research-body .card-research-body-left .detail-img {
    width: 100%;
    height: 50vw;
  }
  .card-research .card-research-body .card-research-body-right {
    min-height: auto;
    padding: 1.5rem;
  }
  .card-research .card-research-body .card-research-body-right .card-research-progress {
    flex-direction: column;
    width: 100%;
  }
  .card-research .card-research-body .card-research-body-right .card-research-progress .progress-left {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
  .card-research .card-research-footer {
    flex-direction: column-reverse;
    background-color: #FFFFFF;
  }
  .card-research .card-research-footer .left, .card-research .card-research-footer .right {
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  .card-research .card-research-footer .left .btn:first-child, .card-research .card-research-footer .right .btn:first-child {
    margin-left: 0;
  }
  .card-research .card-research-footer .left {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .page-header .title-payment {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .page-content-title .btn {
    margin-bottom: 0 !important;
    margin-left: 0.25rem !important;
  }
  .page-content-title .btn:first-child {
    margin-left: 1.25rem !important;
  }

  .col-md-4 > .card-stat:last-child {
    margin-bottom: 1rem !important;
  }

  .profile-summary {
    margin-top: 2rem;
  }

  .d-flex {
    flex-direction: column;
  }

  #sidebar-wrapper {
    position: relative;
    height: auto;
  }

  .navbar-nav {
    margin-top: 0 !important;
    flex-direction: row;
  }
  .navbar-nav .dropdown-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 3.225rem !important;
    border-radius: 0 !important;
    height: 100vh;
    max-height: 100vh;
  }

  .sidebar {
    z-index: 99999;
    margin-left: 0;
    min-height: auto;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .sidebar .sidebar-menu {
    width: 100%;
    padding: 0 !important;
  }
  .sidebar .sidebar-menu .menu-item {
    border-radius: 0 !important;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .sidebar .sidebar-menu .menu-item .menu-item-text {
    font-size: 0.825rem;
    text-align: center;
    min-width: 6.25rem;
    margin-top: 0.2rem;
  }
  .sidebar .sidebar-menu .menu-item .menu-item-icon {
    margin-right: 0;
    padding-bottom: 0.25rem;
  }
  .sidebar .sidebar-menu .menu-item.active {
    border-radius: 4px;
  }
  .sidebar .list-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    background: #090C1F;
  }
  .sidebar .sidebar-heading {
    padding-left: 1.5rem;
    margin-bottom: 2rem;
  }

  ::-webkit-scrollbar {
    width: 4px !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.25);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
  }

  .selector-container {
    display: block;
  }

  .page-content-title {
    margin-bottom: 1.5rem;
  }

  .card-select.half {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    min-width: 100%;
  }
  .card-select.half:last-child {
    margin-left: 0;
  }

  .profile-intro {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }
  .profile-intro .profile-img {
    margin-right: 0 !important;
    margin-bottom: 1.25rem !important;
    border-radius: 8px;
    width: 30vw;
    height: 30vw;
    min-height: auto;
  }
  .profile-intro .profile-info {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .profile-intro .profile-contact {
    flex-direction: column;
  }

  .card-bank {
    padding: 1.5rem;
    background: #FFFFFF;
    text-align: left;
  }

  .milestone-header > .d-flex {
    flex-direction: row;
  }

  .jumbotron-container .jumbotron h1 {
    font-size: 2rem !important;
  }
  .jumbotron-container .jumbotron p {
    font-size: 1.25rem !important;
  }

  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.25rem !important;
  }

  h4 {
    font-size: 1.125rem !important;
  }

  h5, p, a {
    font-size: 0.875rem !important;
  }

  .tab-content img {
    margin: 1rem !important;
  }

  .align-left-right {
    align-items: flex-start;
  }

  .card-detail-info {
    flex-direction: column;
  }
  .card-detail-info.card-login .img-container, .card-detail-info.card-login .info-container {
    width: 100%;
  }
  .card-detail-info .img-container {
    width: 100%;
  }
  .card-detail-info .img-container img {
    height: 30vh;
  }
  .card-detail-info .info-container {
    width: 100%;
    background-color: #FFFFFF;
    padding: 1rem !important;
  }
  .card-detail-info .info-container .badge {
    margin-top: -27.5vh;
  }

  .badge {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  .card.card-with-tab {
    margin-bottom: 3rem;
  }
  .card.card-with-tab .card-tab {
    padding: 1rem 1rem 0 1rem;
  }
  .card.card-with-tab .card-body {
    padding: 0.75rem;
  }

  footer {
    padding: 2rem 1rem !important;
  }
  footer .footer-right {
    align-items: flex-start !important;
  }
  footer .footer-right .footer-menu {
    width: 100%;
    padding: 0.5rem 0;
    margin: 1.25rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  footer .footer-right .footer-menu li {
    display: block !important;
    margin: 0.5rem 0;
  }
  footer .footer-right .footer-item {
    flex-direction: column;
  }

  .item {
    padding: 0.5rem 0;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
  }

  .nav.nav-tabs .nav-item .nav-link {
    font-size: 0.875rem !important;
  }

  #page-content-wrapper {
    padding: 1.5rem;
  }
  #page-content-wrapper .container-fluid, #page-content-wrapper .container {
    padding: 0;
  }

  .btn {
    font-size: 0.825rem !important;
  }

  .page-content-title {
    justify-content: flex-start;
  }
  .page-content-title .btn-back {
    cursor: pointer;
    position: relative;
    left: 0;
    margin-right: 0.5rem;
  }

  .wizard {
    padding-left: 0;
  }
  .wizard .step {
    flex-direction: column;
    border-left: none;
    border-top: 2px solid #f5f0f6;
    position: relative;
    padding-right: 1.75rem;
    padding-left: 1rem;
  }
  .wizard .step .step-number {
    margin-bottom: 0.5rem;
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    top: -1rem;
    left: 1rem;
  }
  .wizard .step .step-text {
    margin-top: 2rem;
    font-size: 0.825rem;
  }

  .wizard-step {
    padding: 10px;
  }

  .wizard-step-text {
    /*padding: 0;*/
    font-size: 0.5rem;
    /*color: #535353;*/
  }

  .wizard-step-chevron {
    display: none;
  }

  .card-select .content {
    padding: 1rem !important;
  }

  .profile-container {
    padding: 0px;
  }

  .header-account .container {
    text-align: center !important;
  }

  .header-account span.badge {
    width: 75%;
  }

  .card-body {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .alert {
    margin-left: 0;
    margin-right: 0;
  }

  .header-account {
    margin-top: 60px;
  }

  label {
    margin-bottom: 0.5rem !important;
  }

  .form-control + .select2.select2-container {
    margin-bottom: 1rem;
  }

  .navbar-toggler {
    display: block;
    text-align: center;
    padding: 0.5rem;
    border-radius: 2px;
  }
  .navbar-toggler .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  .navbar-toggler i {
    margin-left: 1rem;
  }

  .bg-dark .navbar-toggler {
    color: #ffffff !important;
  }

  form .col-md-4 .col-lg-12.px-3,
form .col-md-6:last-child .col-lg-12.px-3 {
    padding-left: 0.5rem !important;
  }

  #aboutUs .container .row {
    flex-direction: column-reverse;
  }

  #howItWorks .container .row {
    flex-direction: column-reverse;
  }

  #imgContainer {
    padding-bottom: 2rem;
  }

  .tab-content {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  section .container .row {
    margin-bottom: 0rem !important;
  }
  section .container .row div h2 {
    margin-bottom: 0 !important;
  }

  #contactUs .row .col-md-6 {
    padding: 1.5rem !important;
  }

  .nav-item.d-md-none {
    width: 100%;
    margin: 0 !important;
    padding: 1rem;
    border-bottom: 1px solid #eeeeee;
    color: #484848 !important;
  }

  .nav-item.d-md-none a {
    color: #484848 !important;
  }

  .bg-dark .nav-item.d-md-none a {
    color: #ffffff !important;
  }

  .nav-item.btn-switcher-container {
    margin: 0.5rem 0 !important;
  }

  .btn-switcher-group {
    margin-left: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /*display: block;*/
    width: 100%;
    margin-right: auto;
    text-align: center;
  }

  .btn-switcher {
    width: 50% !important;
  }

  .nav-item.dropdown .dropdown-menu.dropdown-account {
    width: 100% !important;
  }

  .alert {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .form-row {
    padding: 0.25rem !important;
  }

  .card-header,
.card-body-content,
.card-footer {
    padding: 1rem 0.75rem;
  }

  .row-dynamic:first-child {
    margin-top: 0 !important;
  }

  .row-dynamic {
    padding-bottom: 1rem;
    border-bottom: 1px solid #eeeeee;
    padding: 1rem 0.75rem !important;
    margin-top: 10px;
  }

  .row-dynamic:last-child {
    border-bottom: none !important;
  }

  .row-dynamic > div:first-child {
    padding-left: 0.25rem !important;
  }

  .row-dynamic > div:last-child {
    padding-right: 0 !important;
  }

  .row-dynamic .form-control {
    margin-bottom: 0.5rem;
  }

  .footer .text-right {
    margin-top: 2rem !important;
    text-align: left !important;
  }

  h6 .btn.btn-primary.uppercase.float-right {
    margin-top: 2rem;
  }

  .btn.btn-secondary.btn-no-text,
.btn.btn-danger.btn-no-text {
    width: auto !important;
    margin-top: auto !important;
  }

  #giver {
    padding-left: 0.75rem;
  }

  .card-spse {
    padding: 1.5rem !important;
  }

  .card-spse-title {
    max-width: 60% !important;
  }
}
@media (max-width: 767px) {
  .float-bottom {
    bottom: 4.5rem;
    width: 100%;
    margin-left: -0.5rem;
  }

  .sidebar-inner {
    overflow-x: auto;
  }
  .sidebar-inner .sidebar-menu {
    flex-direction: row;
    width: fit-content;
  }

  .nav.nav-pills {
    border-radius: 0 !important;
  }
  .nav.nav-pills .nav-item {
    border-radius: 0 !important;
    margin: 0.25rem;
  }
  .nav.nav-pills .nav-item .nav-link {
    padding: 0.375rem 0.5rem !important;
    border-radius: 3px !important;
    font-size: 0.75rem !important;
  }

  .sidebar-inner {
    padding: 0 !important;
    margin-bottom: 1rem;
  }
  .sidebar-inner > .card {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .page-content-title {
    padding-left: 0.25rem;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0 1rem 0;
  }

  table.responsive {
    border-spacing: 0 0.25em !important;
  }
  table.responsive thead th:first-child, table.responsive thead th:last-child {
    border-radius: 0 !important;
  }
  table.responsive tr td:first-child, table.responsive tr td:last-child {
    border-radius: 0 !important;
  }

  .navbar {
    padding: 0.5rem 0 0.5rem 0;
  }

  .card {
    border-radius: 0 !important;
  }

  .container-fluid, .container {
    padding: 0 0.5rem !important;
  }

  #page-content-wrapper {
    padding: 0 !important;
  }

  div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-] {
    width: 100%;
    overflow-x: auto;
  }

  .row > div[class^=col-].pr-0 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .col-md-1.pt-4.pl-4 {
    padding: 0.75rem !important;
    margin-top: 0 !important;
  }

  #wrapper {
    padding-bottom: 6rem;
  }

  .px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .card-detail-info.card-login .img-container {
    width: 100%;
    padding: 2rem 0;
    background: #016E73 !important;
  }
  .card-detail-info.card-login .info-container {
    width: 100%;
  }
  .card-detail-info.card-login .info-container .info-body .card-login-title {
    font-size: 20px !important;
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=responsive.css.map */
