/* !
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
  rgba(,,,.8);
 */
.sidebar-menu {
  padding-left: 16px;
}
.sidebar-menu .menu-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 32px;
  border-left: 2px solid #f5f0f6;
}
.sidebar-menu .menu-item:last-child {
  border-left: 2px solid transparent;
}
.sidebar-menu .menu-item:hover {
  text-decoration: none !important;
}
.sidebar-menu .menu-item.active .menu-item-icon {
  background-color: #8B20A9;
  color: #F7F8FC;
}
.sidebar-menu .menu-item.active .menu-item-text {
  color: #F7F8FC;
  font-weight: 600;
}
.sidebar-menu .menu-item .menu-item-icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f0f6;
  font-size: 12px;
  font-weight: 600;
  color: #9FA2B4;
  margin-right: 10px;
  margin-left: -16px;
}
.sidebar-menu .menu-item .menu-item-text {
  font-size: 0.75rem;
  color: #f5f0f6;
  font-weight: 500;
  line-height: 1.5;
}

/*# sourceMappingURL=sidebar-menu.css.map */
